Repository bloomberg/blazingmq, pull requests merged in 2024-08, with the labels that each got.

#374 Remove AIX support
  README.md
  docs/docs/faqs/faq_general.md
  etc/cmake/BMQPlugins.cmake
  src/applications/bmqbrkr/CMakeLists.txt
  src/applications/bmqstoragetool/m_bmqstoragetool_journalfileprocessor.t.cpp
  src/groups/bmq/bmqeval/bmqeval_simpleevaluator.h
  src/groups/bmq/bmqeval/bmqeval_simpleevaluatorscanner.l
  src/groups/bmq/bmqimp/bmqimp_application.cpp
  src/groups/bmq/bmqp/bmqp_messageguidgenerator.t.cpp
  src/groups/mqb/mqbnet/mqbnet_tcpsessionfactory.cpp
  src/groups/mqb/mqbs/mqbs_datastore.t.cpp
  src/groups/mqb/mqbs/mqbs_filesystemutil.cpp
  src/groups/mqb/mqbu/mqbu_messageguidutil.t.cpp
  src/groups/mwc/mwcc/mwcc_orderedhashmap.t.cpp
  src/groups/mwc/mwcsys/mwcsys_executil.t.cpp
  src/groups/mwc/mwcsys/mwcsys_threadutil.cpp
  src/groups/mwc/mwcu/mwcu_tlsbool.t.cpp
  src/integration-tests/test_breathing.py
Labels: A-Docs, A-Build

#375 Feat[BMQ, MQB, MWC]: performance tune-up [1]
  src/groups/bmq/bmqp/bmqp_eventutil.t.cpp
  src/groups/bmq/bmqp/bmqp_optionutil.t.cpp
  src/groups/bmq/bmqp/bmqp_protocol.cpp
  src/groups/bmq/bmqp/bmqp_protocol.h
  src/groups/bmq/bmqp/bmqp_pusheventbuilder.t.cpp
  src/groups/bmq/bmqp/bmqp_puteventbuilder.cpp
  src/groups/mqb/mqba/mqba_application.cpp
  src/groups/mqb/mqba/mqba_dispatcher.cpp
  src/groups/mqb/mqbblp/mqbblp_cluster.cpp
  src/groups/mqb/mqbblp/mqbblp_cluster.h
  src/groups/mqb/mqbblp/mqbblp_remotequeue.cpp
  src/groups/mqb/mqbblp/mqbblp_storagemanager.cpp
  src/groups/mqb/mqbblp/mqbblp_storagemanager.h
  src/groups/mqb/mqbc/mqbc_storagemanager.cpp
  src/groups/mqb/mqbc/mqbc_storagemanager.h
  src/groups/mqb/mqbc/mqbc_storageutil.cpp
  src/groups/mqb/mqbi/mqbi_storagemanager.h
  src/groups/mqb/mqbnet/mqbnet_channel.cpp
  src/groups/mqb/mqbnet/mqbnet_transportmanager.cpp
  src/groups/mqb/mqbs/mqbs_filestore.cpp
  src/groups/mqb/mqbs/mqbs_filestore.h
  src/groups/mqb/mqbs/mqbs_virtualstorage.cpp
  src/groups/mwc/mwcc/mwcc_multiqueuethreadpool.h
Labels: enhancement

#395 Refactor[BMQEVAL]: fix -WConversion warnings during compilation
  src/groups/bmq/bmqeval/bmqeval_simpleevaluator.h
Labels: A-Broker, A-Client

#400 Fix subscription md doc formatting
  docs/docs/features/subscriptions.md
Labels: A-Docs
